alias l="ls"
alias ls="exa -l --group-directories-first --icons"
alias la="exa -la --group-directories-first --icons"
alias ld="exa --only-dirs --icons"
alias ll="exa --group-directories-first --icons"
alias tree="exa --tree"

alias v="vim"
alias r="ranger"
alias z="zathura"

alias mv="mv -n"
alias rm="rm -I"

alias neofetch="fastfetch"
alias sl="sl -acdeFG3"

alias firefox="librewolf"

alias bpgcwifi="/home/reiter/scripts/wifi/wificonnect.sh"
alias camera="vlc --qt-minimal-view --video-filter='transform{type="hflip"}' v4l2://:input-slave=alsa://:v4l-vdev=/dev/video0"
alias blahaj=" display3d /home/reiter/Downloads/blahaj/blahaj.obj -t 0,0,5.5"
alias screencap="ffmpeg -video_size 1920x1080 -framerate 30 -f x11grab -i :0.0+0,0 output.mp4"
alias screenkeys="screenkey --opacity 0.0 --font-color yellow -s small"

alias runflask="sudo flask run --host=0.0.0.0 --port=80"
alias clipserv="sudo /home/reiter/scripts/server/clipboard.sh"
alias fileserv="sudo /home/reiter/scripts/server/files.sh"
alias killserv="sudo /home/reiter/scripts/server/kill.sh"
alias serv="sudo /home/reiter/scripts/server/connectivity.sh"

alias git-push-all="/home/reiter/scripts/git-utils/git-push-all.sh"

alias fehbg="feh --no-fehbg --bg-scale"

alias airdopes="/home/reiter/scripts/bluetooth/airdopes.sh"
alias airdopes_disconnect="/home/reiter/scripts/bluetooth/airdopes_disconnect.sh"
